--swiftversion 5.7
--allman false
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--self init-only
--header strip
--decimalgrouping 3
--binarygrouping none
--octalgrouping none
--indentcase false
--trimwhitespace always
--patternlet hoist
--commas inline
--semicolons inline
--indent 4
--comments indent
--ifdef outdent
--xcodeindentation true
--exponentcase lowercase
--operatorfunc spaced
--elseposition same-line
--voidtype void
--hexliteralcase uppercase
--linebreaks lf
--hexgrouping none
--stripunusedargs closure-only
--importgrouping testable-bottom
--enable spaceAroundBraces,spaceInsideBraces,redundantSelf,numberFormatting,unusedArguments,sortedImports,indent,trailingCommas,wrapArguments
--disable wrapMultilineStatementBraces,redundantBackticks
--exclude **/*.generated.swift
--exclude Submodules/*
