--swiftversion 6.2
--allman false
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--self init-only
--header strip
--decimalgrouping 3
--binarygrouping none
--octalgrouping none
--indentcase false
--trimwhitespace always
--patternlet hoist
--semicolons inline
--indent 4
--comments indent
--ifdef outdent
--xcodeindentation true
--exponentcase lowercase
--operatorfunc spaced
--elseposition same-line
--voidtype void
--hexliteralcase uppercase
--linebreaks lf
--hexgrouping none
--stripunusedargs closure-only
--importgrouping testable-bottom
--preserve-acronyms
--enable spaceAroundBraces,spaceInsideBraces,redundantSelf,numberFormatting,unusedArguments,sortImports,indent,wrapArguments,preferFinalClasses,redundantThrows,redundantAsync,acronyms,noForceUnwrapInTests,wrapConditionalBodies
--disable wrapMultilineStatementBraces,redundantBackticks,preferForLoop,trailingCommas
--exclude Submodules/*
