name: CI

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@v4
      - name: "Fetch submodules"
        run: |
          git submodule sync
          git submodule update --init --recursive

      - uses: maxim-lobanov/setup-xcode@v1.6.0
        with:
          xcode-version: '26.1.0'

#      - name: Create iOS Simulator
#        run: |
#          xcrun simctl create "iPhone 16" "iPhone 16" "iOS18.5" || true
#          xcrun simctl list devices

      - name: Linting
        run: ./swiftformat . --lint

      - name: Test macOS
        run: |
          cd PluginTests
          xcodebuild test -scheme PluginTests-Package -destination "platform=macOS"

      - name: Test iOS 15
        run: |
          cd PluginTests
          sed -i '' -e 's/\.iOS(\.v16)/.iOS(.v15)/' Package.swift
          xcodebuild test -scheme PluginTests-Package -destination 'platform=iOS Simulator,OS=18.5,name=iPhone 16'

      - name: Test iOS 16
        run: |
          cd PluginTests
          sed -i '' -e 's/\.iOS(\.v15)/.iOS(.v16)/' Package.swift
          xcodebuild test -scheme PluginTests-Package -destination 'platform=iOS Simulator,OS=18.5,name=iPhone 16'
