name: CI

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@v4
      - name: "Fetch submodules"
        run: |
          git submodule sync
          git submodule update --init --recursive

      - uses: maxim-lobanov/setup-xcode@v1.6.0
        with:
          xcode-version: '26.2.0'

      - name: Linting
        run: ./swiftformat . --lint

      - name: Unit Tests
        run: swift test

      - name: End-to-end tests macOS
        run: |
          cd PluginTests
          xcodebuild test -scheme PluginTests-Package -destination "platform=macOS"

      - name: End-to-end tests iOS
        run: |
          cd PluginTests
          xcodebuild test -scheme PluginTests-Package -destination 'platform=iOS Simulator,OS=26.2,name=iPhone 17'
